@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #FF6600;
  --secondary-color: #ffb68c;
  --dark-color: #5a2100;
  --light-color: #f4f4f4;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

.logo {
  font-weight: 600;
}

p {
  margin: 10px 0;
}

image {
  width: 100%;
}

/* navbar */

.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;


}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
  flex-flow: wrap;
}

/* Showcase */

.showcase {
  height: 400px;
  background: linear-gradient(var(--primary-color), var(--secondary-color)), url(../images/.jpg) no-repeat fixed;
  background-attachment: fixed;
  background-size: 50%;
  color: #fff;
  position: relative;
}

.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}

.showcase-form img {
  width: 100%;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

/* .showcase .container {
  margin: 0;
  padding: 0;
  background: linear-gradient(var(--primary-color), #fff, rgba(0, 0, 0, 0.5));
  background-attachment: fixed;
  height: 120vh;
  width: 100vw;
} */

.showcase .grid {
  grid-template-columns: 55 45;
  gap: 30px;
  overflow: visible;
}

.showcase-form {
  animation: slideInFromRight 1s ease-in;
  position: relative;
  top: 60px;
  height: 420px;
  width: 400px;
  padding: 40px;
  z-index: 100;
}

.showcase-form .form-control {
  margin: 25px 0;
}

.showcase-form input[type='text'], .showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

s .showcase-form input:focus {
  outline: none;
}

.showcase::after, .showcase::before {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  left: 0;
  right: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg)
}

/* stats */
.stats {
  animation: slideInFromBottom 1s ease-in;
  padding: 12rem;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
  margin-bottom: 100px;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

/* cli */
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

}

.cli .grid>*:first-child {
  grid-column: 1;
  grid-row: 1;
}

/* cloud */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

.cloud img {
  max-height: 300px;
  max-width: 300px;
}

/* languages  */

.languages .flex {
  flex-wrap: wrap;
}

.languages img {
  width: 100%;
}

.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  max-width: 20%;
  transition: transform 0.2s ease-in;
}

.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.languages .card:hover {
  transform: translateY(-15px);
}

/* Tablets and under */

@media(max-width:768px) {
  .grid, .showcase .grid, .stats .grid, .cli .grid, .cloud .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
    animation: slideInFromRight 1s ease-in;
  }


}

/* Mobile */
@media(max-width:500px) {
  .grid, .showcase .grid, .stats .grid, .cli .grid, .cloud .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .stats {
    margin-top: 80px;
    padding: 10px;
  }
}


/* Docs */
.docs-main h3 {
  margin: 20px 0;
  color: #333;
}

.docs p {
  color: #333;
}

.docs-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;

}

.docs-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  color: #333;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;

}

.docs-main a:hover {
  font-weight: bold;

}


/* Features */
.features-head img,
.docs-head img {
  width: 200px;
  justify-self: flex-end;
}

.features-sub-head img {
  width: 300px;
  justify-self: flex-end;
}

.features-main .card>i {
  margin-right: 20px;
}

.features-main .grid {
  padding: 30px;
}

.features-main .grid>*:first-child {
  grid-column: 1 / span 3;
}

.features-main .grid>*:nth-child(2) {
  grid-column: 1 / span 2;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}